@import "../../../styles/variables.scss";

.Container {
  background: white;
  color: $color-pry-dark;
  border-radius: 2rem;
  box-shadow: 4px 4px 4px $color-pry;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 400px) {
    max-width: 32rem;
    margin: 0 auto;
  }

  img {
    display: block;
    max-height: 35rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;

    @media screen and (min-width: 780px) {
      max-height: 26rem;
    }
  }

  .Heading {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin-bottom: 0;

    div {
      display: flex;
      font-size: 90%;
      color: darkgray;
      gap: 2rem;
      align-items: center;
      justify-content: flex-end;
      line-height: 1.3;

      .Read {
        color: $color-pry-dark;
        border: 1px solid $color-pry-dark;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
      }
    }
  }

  .Description {
    padding: 0.5rem 1rem;
    margin-bottom: auto;
    line-height: 1.5;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    .LikeCountContainer {
      position: relative;
      display: inline-block;
      margin: 1rem 0;
      display: flex;
      align-items: center;

      
      svg {
        font-size: 3rem;
        cursor: pointer;
        z-index: 1;
        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }

      span {
        margin-top: -2rem;
        border-radius: 50%;
        z-index: 0;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        color: $color-pry;
        background: white;
        border: 2px solid $color-pry;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
