@import "../../styles/variables.scss";

.Button {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid white;
  color: white;
  background-color: $color-pry-dark;
  display: inline-block;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: bold;
  transition: ease all 300ms;

  &:hover {
    box-shadow: $color-shadow;
    transform: translateY(-0.5rem);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background-color: #ddd;
    color: $color-pry-dark;
    border: 2px solid $color-pry-dark;

    &:hover {
      box-shadow: none;
      transform: translateY(0);
      cursor: not-allowed;
    }
  }
}
